.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 50px;
  padding: 10px 50px 20px;
  margin: 15px 0 20px;
  width: 350px;
  height: 200px;
  background-color: rgb(168, 192, 201);
  color: rgb(255, 255, 255);
}



.weatherForm {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;
}

.weatherForm>input {
  margin-right: 5px;
}

.weatherForm>button {
  color: white;
  border: none;
  border-radius: 3px;
  background-color: rgb(168, 192, 201);
}

.weatherForm>button:hover {
  background-color: rgb(168, 192, 201);
}

.error {
  border-radius: 5px;
  text-align: center;
  background-color: rgb(254, 141, 141);
  font-size: 12px;
  position: absolute;
  bottom: -33px;
  left: 0px;
  color: rgb(255, 255, 255);
}